{% extends "admin/components/admin header.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <!--
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-success d-flex p-3 justify-content-between align-items-center">
                <h2>Total User</h2>

            </div>
        </div>
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-warning d-flex p-3 justify-content-between align-items-center">
                <h2>Approved User</h2>

            </div>
        </div>
        -->
        <div class="col-xl-6 my-2 col-lg-6 col-sm-12">
            <div class="bg-primary d-flex p-3 justify-content-between align-items-center">
                <h2>Dashboard Admin</h2>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
