{% extends "components/header.html" %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #23405C;
    color: #333;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
  <section>
    <div class="container">
      <h4>LUNG DISEASE DETECTION/CLASSIFICATION WEB APPLICATION WITH DEEP LEARNING</h4>
      <h4>คืออะไร ?</h4>
    </div>

    <div class="container">
      <h2>About Us</h2>
      <h2>เกี่ยวกับเรา</h2>
      <h4>LUNG DISEASE DETECTION/CLASSIFICATION WEB APPLICATION WITH DEEP LEARNING เป็นแอปพลิเคชันเว็บการตรวจหา/จำแนกโรคปอดพร้อมการเรียนรู้เชิงลึก เพื่อให้คนทั่วไปสามารถตรวจสอบโรคเกี่ยวกับปอดได้เบื้องต้น</h4>
      <h5>
        โรคมะเร็งปอด ปอดอักเสบ เป็นกลุ่มโรคที่เกี่ยวกับอาการผิดปกติของปอดที่ติดอันดับทาให้คนไทยเสียชีวิตมากที่สุด 
ซึ่งส่วนใหญ่ผู้ป่วยโรคเหล่านี้จะได้รับการตรวจวินิจฉัยหรือพบโรคช้า การวินิจฉัยจะใช้วิธีการเอกซเรย์ทรวงอกซึ่งเป็นวิธีที่สะดวกและปลอดภัย
แต่การที่จะวินิจฉัยโรคปอดจากภาพถ่ายรังสีให้ได้ความแม่นยาสูง ต้องอาศัยความเชี่ยวชาญของแพทย์รังสีวินิจฉัยเฉพาะทาง 
ซึ่งปัจจุบันขาดแคลนอย่างมาก ขณะเดียวกันโรงพยาบาลในต่างจังหวัดขนาดเล็กส่วนใหญ่ไม่มีแพทย์รังสี 
ส่งผลให้ผู้ป่วยไม่ได้รับการรักษาได้ทันเวลาจนเกิดอาการป่วยขั้นรุนแรงจนถึงเสียชีวิต ยิ่งในสถานการณ์ปัจจุบันที่โรคโควิด-19 ระบาด ผู้คนเจ็บป่วยจากโควิด-19 ขั้นรุนแรงจนถึงเสีย ชีวิตเพราะเชื้อโคโรนาลงปอดทาให้เป็นโรคปอดอักเสบ 

จำเป็นอย่างมากที่ควรจะมีระบบที่วิเคราะห์และจาแนกโรคปอดที่รวดเร็วและแม่นยา เพื่อป้องกันการระบาดของโรคโควิด-19 และระบุโรคเกี่ยวกับปอดได้ 

ปัจจุบันการนาความรู้การเรียนรู้เชิงลึกของเครื่องคอมพิวเตอร์มาใช้เป็นอย่างมากในวงการแพทย์โดยเฉพาะการวิเคราะห์ภาพทางการแพทย์ 

โดยมีวัตถุประสงค์เพื่อลดเวลาในการวินิจฉัยของแพทย์และสามารถวิเคราะห์โรคได้อย่างถูกต้อง 

ผู้ป่วยที่รู้ชนิดโรคที่เป็นจะสามารถเข้ารับการรักษาได้อย่างถูกต้องและรวดเร็ว ลดภาระของบุคลากรทางการแพทย์ได้ส่วนหนึ่ง 

และระบบนี้สามารถใช้งานได้โดยคนทั่วไปที่ต้องการที่จะวินิจฉัยโรคด้วยตนเองก็สามารถใช้งานระบบวินิจฉัยโรคเพื่อเป็นสิ่งที่ยืนยันว่าป่วยเป็นโรคนั้นจริง
      </h5>
      <h5>
        เราจึงได้เสนอโครงงานพัฒนาเว็บแอปพลิเคชันสาหรับการวินิจฉัยโรคเกี่ยวกับปอดโดยเลือกใช้ CT-scan ทรวงอก 

ด้วยเทคโนโลยีการเรียนรู้เชิงลึกของเครื่องคอมพิวเตอร์  โดยใช้โครงข่ายประสาทเทียมแบบคอนโวลูชัน 

ให้คนทั่วไปสามารถตรวจสอบโรคเกี่ยวกับปอดได้เบื้องต้น
      </h5>
    </div>
  </section>

  {% endblock %}
