{% extends "components/header.html" %}

{% block content %}
    <section class="home-landing-section">
        <div class="p-3 mb-2 bg-secondary text-white">
            <div style="text-shadow: 2px 2px 4px #000000;" >
                <h1 style="color: #ffffff">LUNG DISEASE DETECTION/CLASSIFICATION WEB APPLICATION WITH DEEP LEARNING</h1>
                <h1 style="color: #ffffff">แอปพลิเคชันเว็บการตรวจหา/จำแนกโรคปอดพร้อมการเรียนรู้เชิงลึก</h1>
            </div>
        </div>       
    </section>

    <footer>
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </footer>

  {% endblock %}
