{% extends "components/header.html" %}

{% block content %}

<style>
    body {
        background-image: url('ocean.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
    </style>
    
    <section class="home-landing-section">
        <div class="p-3 mb-2 bg-secondary text-white">
            <div style="text-shadow: 2px 2px 4px #000000;" >
                <h1 style="color: #ffffff">LUNG DISEASE DETECTION/CLASSIFICATION WEB APPLICATION WITH DEEP LEARNING</h1>
                <h1 style="color: #ffffff">แอปพลิเคชันเว็บการตรวจหา/จำแนกโรคปอดพร้อมการเรียนรู้เชิงลึก</h1>
            </div>
            {% if username %}
                <p>Hello, {{ username }}! You are already logged in.</p>
                <a href="/logout">Logout</a>
            {% else %}
                <p>You are not logged in. Please <a href="/login">Login</a> to access the home page.</p>
            {% endif %}
                
        </div>       
    </section>

{% endblock %}
