{% extends "components/header.html" %}

{% block content %}

<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #23405C;
      color: #333;
    }
  
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

        <h1>LUNG DISEASE DETECTION Information</h1>
    <div class="container">
        <h4>ปอดอักเสบ</h4>
        <h4>
            ปอดอักเสบคือการติดเชื้อที่ทำให้เกิดการอักเสบในถุงลมในหนึ่งหรือทั้งสองปอด สาเหตุสามารถเป็นแบคทีเรีย, เชื้อไวรัส, หรือเชื้อรา 
            อาการที่พบบ่อยรวมไปถึงไอ, ไข้, ครั่นเนื้อครั่นใจ, หายใจลำบาก, และเจ็บหน้าอก การวินิจฉัยมักประกอบด้วยการตรวจร่างกาย, รังสี X-ray ของหน้าอก, และบางครั้งการตรวจเลือด การรักษาอาจรวมถึงการใช้ยาปฏิชีวนะ (สำหรับปอดอักเสบที่เกิดจากแบคทีเรีย), ยาต้านไวรัส, พักผ่อน, และดื่มน้ำ มาตรการป้องกันรวมถึงการฉีดวัคซีน (เช่น วัคซีนป้องกันโรคปอดอักเสบ), รักษาระดับความสะอาดที่ดี, และหลีกเลี่ยงการสูบบุหรี่
        </h4>
    </div>

    <div class="container">
        <h4>มะเร็งปอด</h4>
        <h4>
            มะเร็งปอดเกิดขึ้นเมื่อเซลล์ผิดปกติเจริญเติบโตอย่างไม่สมดุลในปอด 
            การสูบบุหรี่เป็นสาเหตุหลัก แต่การสัมผัสกับกรดไร้ดอน, แอสเบสโตส, และสารเคมีอื่นๆ ก็มีส่วนเสริมสำคัญ 
            อาการอาจรวมถึงไอติดต่อ, เจ็บหน้าอก, หายใจลำบาก, ไอเลือด, และการลดน้ำหนักโดยไม่ชัดเจน การวินิจฉัยเกี่ยวข้องกับการทดสอบภาพรังสี (CT scan, PET scan), การทำตัวชิ้นเนื้อ, และบางครั้งการทดสอบโมเลกุล ตัวเลือกในการรักษาขึ้นอยู่กับประเภทและระยะของมะเร็งและอาจรวมถึงการผ่าตัด, เคมีบำบัด, รักษาด้วยรังสี, การรักษาที่เป็นเป้าหมาย, และการรักษาด้วยสารป้องกันภูมิคุ้มกัน การเลิกสูบบุหรี่และการหลีกเลี่ยงควันมอซอนเป็นสิ่งสำคัญสำหรับการป้องกัน
        </h4>
    </div>

    <div class="container">
        <h4>COVID-19</h4>
        <h4>
            COVID-19 ซึ่งเกิดจากไวรัสโคโรนาชนิดใหม่ SARS-CoV-2 มีผลกระทบต่อระบบทางเดินหายใจโดยหลัก 
            อาการสามารถแตกต่างได้ตั้งแต่เบา (ไข้, ไอ, อ่อนเพลีย) ไปจนถึงรุนแรง (หายใจลำบาก, ปอดอักเสบ, อาการขาดอากาศทันที) 
            การวินิจฉัยเกี่ยวข้องกับการทดสอบ PCR หรือการทดสอบหลั่งภูมิต้านทานอย่างรวดเร็ว การจัดการขึ้นอยู่กับความรุนแรงของอาการและอาจรวมถึงการดูแลระยะสัมพันธ์ (พักผ่อน, ดื่มน้ำ), การรักษาด้วยออกซิเจน, ยาต้านไวรัส (เช่น remdesivir), และสตีรอยด์ป้องกันอักเสบ การฉีดวัคซีน, การสวมหน้ากาก, การรักษาความสะอาดของมือและการรักษาระยะห่างทางสังคมเป็นสิ่งสำคัญสำหรับการป้องกัน
        </h4>
    </div>

{% endblock %}