{% extends "user/components/header.html" %}

{% block content %}
<body>

    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background: #1A3454;

        }
        .heading{
            color: green;
        }
        form{
            background-color: white;
            border-radius: 15px;
        }
        .w-50{
            width: 550px !important;
        }
    </style>

    <div class="container">
        <div class="row">
            <form action="/login" method="post" class="w-50 mx-auto mt-3 p-5">
                <h3 >Log in</h3>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Continue with Email</button>
                    <!--
                    <p class="text-center">or</p>
                    <button class="btn btn-outline-warning" type="button"><i class="bi bi-facebook"></i>  Continue with Google</button>
                    -->
                </div>
            </form>
        </div>
    </div>

</body>

{% endblock %}